[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blends"]
	path = blends
	url = https://github.com/davidhodge931/blends
[submodule "ggblanket"]
	path = ggblanket
	url = https://github.com/davidhodge931/ggblanket
[submodule "ggrefine"]
	path = ggrefine
	url = https://github.com/davidhodge931/ggrefine
[submodule "ggwidth"]
	path = ggwidth
	url = https://github.com/davidhodge931/ggwidth
[submodule "jumble"]
	path = jumble
	url = https://github.com/davidhodge931/jumble
